body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
}

#game-container {
  max-width: 1024px;
  max-height: 768px;
  margin: 0 auto;
  position: relative;
}

#game-area {
  background: linear-gradient(#448ccb, #a9d3d1);
  border-radius: 10px;
  width: 100%;
  height: auto;
}

#score-submit {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

#button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

#restart-button {
  width: 325px;
  height: 75px;
  background: url('img/restart-button.svg');
}

#submit-button {
  width: 300px;
  height: 75px;
  background: url('img/submit-button.svg');
}

#restart-button:hover {
  background: url('img/restart-button-hover.svg');
}

#submit-button:hover {
  background: url('img/submit-button-hover.svg');
}

#player-email {
  display: block;
  border: 3px solid #101024;
  border-radius: 15px;
  font-family: "Calibri", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 0px 5px;
  width: 300px;
}

#player-email:focus {
  outline: 0px;
  box-shadow: 0px 0px 5px #8bd0ba;
}

#marketing-submit {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

#action-button {
  width: 550px;
  height: 75px;
  background: url('img/action-button.svg');
}

#action-button:hover {
  background: url('img/action-button-hover.svg');
}

#submit-button,
#restart-button,
#action-button {
  border: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#submit-button:hover,
#restart-button:hover,
#action-button:hover {
  border: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
